{% extends 'base.html.twig' %}

{% block title %}Welcome to Docker for PHP Developers{% endblock %}

{% block body %}
    <p>Welcome to <a href="https://bitpress.io/docker-for-php-developers">Docker for PHP Developers</a>!</p>
{% endblock %}
